<!DOCTYPE html>
<html>
	<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P9RGQ8Z8');</script>
<!-- End Google Tag Manager -->
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P9RGQ8Z8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
		<nav>
    		<ul>
        		<li><a href="/">ABOUT ME</a></li>
	        	<li><a href="/research">RESEARCH</a></li>
        		<li><a href="/teaching">TEACHING</a></li>
        		<li><a href="/professional">PROFESSIONAL</a></li>
			<li><a href="/other">OTHER CREATIVE WORK</a></li>
			<li><a href="/CV/CV2023Feb_SH.pdf">CV</a></li>
    		</ul>
		</nav>
		<div class="container">
      
      {{ content }}
      
		</div><!-- /.container -->
	</body>

</html>
