<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.G-8YHFRSJ87V}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ .Site.Params.G-8YHFRSJ87V}}');
</script>
<!-- End of Global site tag (gtag.js) - Google Analytics -->
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">ABOUT ME</a></li>
	        	<li><a href="/research">RESEARCH</a></li>
        		<li><a href="/teaching">TEACHING</a></li>
        		<li><a href="/professional">PROFESSIONAL</a></li>
			<li><a href="/other">OTHER CREATIVE WORK</a></li>
			<li><a href="/CV/CV2023Feb_SH.pdf">CV</a></li>
    		</ul>
		</nav>
		<div class="container">
      
      {{ content }}
      
		</div><!-- /.container -->
	</body>

</html>
